<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22059736135-g115vgq5moibrhssrbe26uk552necbsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22059736135-g115vgq5moibrhssrbe26uk552necbsq</string>
	<key>API_KEY</key>
	<string>AIzaSyAPH_Aw0FMxBB09HzyOtXwR8xhFgHabrkM</string>
	<key>GCM_SENDER_ID</key>
	<string>22059736135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reactnativefirebasechatsdk</string>
	<key>PROJECT_ID</key>
	<string>react-native-firebase-chat-sdk</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-firebase-chat-sdk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22059736135:ios:9ec0f6938bf2deb7a4e562</string>
</dict>
</plist>